/.vscode
Notebooks/Python_for_data_analysis/datasets/babynames/NationalReadMe.pdf
Notebooks/Python_for_data_analysis/datasets/babynames/yob1880.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1881.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1882.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1883.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1884.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1885.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1886.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1887.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1888.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1889.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1890.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1891.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1892.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1893.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1894.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1895.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1896.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1897.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1898.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1899.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1900.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1901.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1902.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1903.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1904.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1905.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1906.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1907.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1908.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1909.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1910.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1911.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1912.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1913.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1914.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1915.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1916.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1917.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1918.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1919.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1920.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1921.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1922.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1923.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1924.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1925.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1926.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1927.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1928.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1929.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1930.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1931.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1932.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1933.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1934.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1935.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1936.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1937.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1938.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1939.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1940.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1941.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1942.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1943.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1944.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1945.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1946.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1947.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1948.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1949.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1950.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1951.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1952.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1953.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1954.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1955.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1956.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1957.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1958.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1959.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1960.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1961.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1962.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1963.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1964.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1965.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1966.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1967.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1968.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1969.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1970.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1971.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1972.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1973.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1974.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1975.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1976.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1977.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1978.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1979.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1980.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1981.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1982.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1983.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1984.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1985.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1986.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1987.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1988.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1989.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1990.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1991.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1992.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1993.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1994.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1995.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1996.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1997.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1998.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob1999.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob2000.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob2001.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob2002.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob2003.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob2004.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob2005.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob2006.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob2007.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob2008.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob2009.txt
Notebooks/Python_for_data_analysis/datasets/babynames/yob2010.txt
Notebooks/Python_for_data_analysis/datasets/bitly_usagov/example.txt
Notebooks/Python_for_data_analysis/datasets/fec/P00000001-ALL.csv
Notebooks/Python_for_data_analysis/datasets/haiti/Haiti.csv
Notebooks/Python_for_data_analysis/datasets/haiti/PortAuPrince_Roads/PortAuPrince_Roads_README.txt
Notebooks/Python_for_data_analysis/datasets/haiti/PortAuPrince_Roads/PortAuPrince_Roads.dbf
Notebooks/Python_for_data_analysis/datasets/haiti/PortAuPrince_Roads/PortAuPrince_Roads.prj
Notebooks/Python_for_data_analysis/datasets/haiti/PortAuPrince_Roads/PortAuPrince_Roads.sbn
Notebooks/Python_for_data_analysis/datasets/haiti/PortAuPrince_Roads/PortAuPrince_Roads.sbx
Notebooks/Python_for_data_analysis/datasets/haiti/PortAuPrince_Roads/PortAuPrince_Roads.shp
Notebooks/Python_for_data_analysis/datasets/haiti/PortAuPrince_Roads/PortAuPrince_Roads.shx
Notebooks/Python_for_data_analysis/datasets/movielens/movies.dat
Notebooks/Python_for_data_analysis/datasets/movielens/ratings.dat
Notebooks/Python_for_data_analysis/datasets/movielens/README
Notebooks/Python_for_data_analysis/datasets/movielens/users.dat
Notebooks/Python_for_data_analysis/datasets/mta_perf/parse.py
Notebooks/Python_for_data_analysis/datasets/mta_perf/Performance_LIBUS.xml
Notebooks/Python_for_data_analysis/datasets/mta_perf/Performance_LIBUS.xsd
Notebooks/Python_for_data_analysis/datasets/mta_perf/Performance_LIRR.xml
Notebooks/Python_for_data_analysis/datasets/mta_perf/Performance_LIRR.xsd
Notebooks/Python_for_data_analysis/datasets/mta_perf/Performance_MNR.xml
Notebooks/Python_for_data_analysis/datasets/mta_perf/Performance_MNR.xsd
Notebooks/Python_for_data_analysis/datasets/mta_perf/Performance_MTABUS.xml
Notebooks/Python_for_data_analysis/datasets/mta_perf/Performance_MTABUS.xsd
Notebooks/Python_for_data_analysis/datasets/mta_perf/Performance_NYCT.xml
Notebooks/Python_for_data_analysis/datasets/mta_perf/Performance_NYCT.xsd
Notebooks/Python_for_data_analysis/datasets/mta_perf/Performance_TBTA.xml
Notebooks/Python_for_data_analysis/datasets/mta_perf/Performance_TBTA.xsd
Notebooks/Python_for_data_analysis/datasets/titanic/genderclassmodel.csv
Notebooks/Python_for_data_analysis/datasets/titanic/gendermodel.csv
Notebooks/Python_for_data_analysis/datasets/titanic/test.csv
Notebooks/Python_for_data_analysis/datasets/titanic/train.csv
Notebooks/Python_for_data_analysis/datasets/usda_food/database.json
